*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --cnav: #f23d6d;
    --background-color: #0b0f26;
    --padding:85px;
    --margin:68.8px;
  }
@media(max-width:767px)
{
    .wc .cz .wb
    {
        display: flex;
        flex-direction: column;

    }
     .container .fte {
        display: flex;
        margin-left: -30px;
        margin-bottom: 27px;
        width: 317px;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        color: white;
    }
    .container .fte h2 {
        font-size: 35px;
        font-weight: bold;
    }
    .container .fte p {
        font-weight: 300;
        font-size: 20px;
        padding-top: 18px;
        padding-bottom: 8px;
        color: rgb(255, 255, 255);
    }
    .container .ftee .fimg
    {
        margin-right: 133px;
    }
    .container .ftee .fimg img
    {
        height: 418px;
        width: 411px;
    }
    .container .ftbc {
        display: flex;
        gap: 25px;
        margin: 7px;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 22px;
        width: 387px;
        border: 1px solid #202234;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .container .con .sech {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 29px;
        margin-bottom: 10px;
        margin-right: -516px;
      
    }
    .container .con .ig {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 204px;
        
        row-gap: 45px;
        column-gap: 30px;
        justify-items: center;
        justify-content: center;
    }
    .container .con .ig .stb {
        width: 308px;
    }
    .container .con .sech .hc {
        display: flex;
        margin-bottom: 63px;
        gap: 20px;
        justify-content: center;
        flex-direction: column;
        width: 376px;
    }
    .container .wc .cz .wb .wimg .imv i {
        font-weight: 900;
        color: white;
        font-size: 65px;
    }
    .container .wc .cz .wb .wimg .imv {
        position: absolute;
        top: 41px;
        transform: translateX(-208px);
    }
    .container .wc .cz .wb {
        align-items: center;
    }
    .container .wc .cz .wb .wimg {
        margin-left: -7px;
        display: flex;
        position: relative;
        flex-direction: column;
        width: 336px;
    }
    .container .ivm {
        display: flex;
        flex-direction: column;
        margin-left: -3px;
        width: 329px;
    }
    /* section 1 */
    
    .container .links{
        display: none;
    }
    .container .content .text h1 {
        font-size: 30px;
        font-weight: 500;
        padding-bottom: 8px;
        color: #444;
    }
    .container .content .text .email input 
    {
        border-left: 0 solid var(--cnav);
        box-shadow: var(--cnav) -5px 0px 0px;
        margin-top: 20px;
        padding: 22px 25px 24px 39px;
        width: 315px;
        height: 40px;
    }
    .container .content .text .email form .fa-arrow-right-long {
      
        left: 284px;
    }
    .container .content .cimg img {
       
        width: 212px;
        margin-top: 360px;
        margin-left: -144px;
    }
    .container .sheader 
    {
        flex-direction: column;
    }
    .container .sheader .hc {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 35px;
    }
    .container .ea .secimg
    {
        display: none;
    }
    .container .section3 {
        width: 389px;
        padding-left: 20px;
        margin-bottom: -50px;
    }
    .container .co .ea {
        width: 367px;
        margin-left: 14px;
    }
    .container .bc
    {
        margin-left: -79px;
    }
    .container .co .bc .mc {
        margin-top: -6px;
        margin-left: -5px;
        text-align: center;
    }
    .container .co .bc .mc .pm {
        margin-bottom: -102px;
        font-size: 15px;
        font-weight: 600;
        color: rgba(255, 0, 0, 0.661);
    }
    .container .co .bc .mc h3 {
        font-size: 30px;
        line-height: 1.1;
        padding-top: 34px;
    }
    .container .co .bc .mc p {
        color: rgb(100, 99, 99);
        padding-bottom: 81px;
        padding-top: 29px;
    }
     
    .container .section6 {
        padding: 85px 85px;
        background: #e7eaef;
        height: 65vh;
        margin: 50px 0;
    }
    .container .ct1
    {
        width: 255px;
    }
    .container .dapp .app a {
        
            background-color: #000;
            color: white;
            border: 2px solid black;
            display: flex;
            align-items: center;
            gap: 17px;
            padding: 7px 18px;

            border-radius: 13px;
        
    }
        .container .dapp .app .anv
        {
         background-color: white;
        }
        .container .dapp {
            padding-left: 22px;
            display: flex;
            gap: 20px;
            width: -56px;
            margin-left: -78px;
            margin-top: -42px;
        }
         .container .dc {
            padding-bottom: 20px;
        }
        .container .dc .dh {
            display: flex;
            justify-content: center;
            margin-left: -53px;
            margin-bottom: 69px;
            flex-direction: column;
        }
        .container .conbo .boc {
        
            grid-template-columns: 1fr;
          
        }
        .container .cosfe {
            padding: 18px;
            margin: 0 -135px;
            grid-template-columns: 1fr;
            row-gap: 45px;
            text-align: center;
            column-gap: 55px;
        }
        .container .rtf .rrt {
            font-size: 20px;
            color: #edf3fe;
        }
       
        .container .co .bc .ca {
            margin-bottom: 32px;
            margin-top: -23px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
       
        .dc .dh h2 {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .dc .dp {
            font-size: 19px;
            font-weight: 700;
            margin-left: -46px;
            color: #ff3e66;
            margin-bottom: 20px;
        }
        
        .container .ts .tdsa h2 {
            margin-left: -11px;
            font-size: 36px;
            margin-bottom: 20px;
        }
        .container .conbo .boc .pbo {
            padding-top: 95px;
            padding-bottom: 65px;
            padding-left: 26px;
            padding-right: 158px;
            border-radius: 10px;
            width: 100%;
            margin-left: 13px;
            border: 1px solid #eef0ee;
        }
        .container .spimg {
            margin-left: 16px;
            width: 100px;
            height: 99px;
            text-align: center;
            padding: 34px;
            box-shadow: 0 39px 67px rgb(0 0 0 / 18%);
            border-radius: 4px;
            background-color: #fff;
        }
        .container .sponser .sptop {
            justify-content: center;
            gap: 22px;
            margin-left: 2px;
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .container .spbott {
            margin-top: 30px;
            justify-content: center;
            gap: 27px;
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .container .spbott .last
        {
            justify-content: center;
            display: flex;
            transform: translateX(148px);
        }
        .container .foot .fcon {
            
            grid-template-columns: 2fr;
            text-align: center;
            padding-bottom: 3px;
            margin-bottom: 18px;
          
        }
        .container .foot .fcon .foco .ficon {
            margin-top: 30px;
            display: flex;
            gap: 16px;
            align-items: center;
            justify-content: center;
            padding-left: 28px;
            padding-bottom: 26px;
        }
        .container .ftext {
            display: flex;
            flex-direction: column;
            gap: 29px;
            padding-bottom: 50px;
        }
        .foot .copy 
        {
            flex-direction: column;
        }
        .container .foot .copy .fapp a {
            padding-bottom: 2px;
            width: 160px;
            padding-top: 11px;
            padding-left: 13px;
            padding-right: 26px;
        }
        .container .fcpsa {
            padding-top: 40px;
            margin-top: 2px;
        }
        .container .afz
        {
            width: 129px;
        }
}
@media(min-width:767px) and (max-width:991px)
{
    
    .container .con .sech {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: -2px 140px;
    }
    .container .ig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 207px;
    margin-right: 250px;
    row-gap: 45px;
    column-gap: 30px;
    justify-items: center;
    justify-content: center;
    
}
 .section3 .container {
    width: 723px;
    padding-left: 20px;
    margin-bottom: -50px;
    padding-right: 0px;
    
}
.container .ea .secimg
{
    display: none;
}
.container  .bc .mc {
    margin-top: -38px;
    margin-left: -5px;
    text-align: center;
    
}
.container  .bc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}
.container  .bc .ca {
    margin-top: -4px;
    display: flex;
} 

}
@media(min-width:550px) and (max-width:765px)
{
    .ftcon{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 26px;
 }
}
@media(max-width:997px)
{
    .container  .bc .mc .pm {
        margin-bottom: -45px;
        font-size: 25px;
        font-weight: 600;
        color: rgba(255, 0, 0, 0.661);
    }
    .container  .bc .mc h3 {
        font-size: 35px;
        line-height: 1.1;
        padding-top: 21px;
    }
    .container  .bc {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        margin-left: -49px;
    }
    .container  .ea {
        width: 900px;
        margin-left: 33px;
        justify-content: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgb(240, 241, 247);
        padding: 0 114px;
    }
    
}

@media (max-width:1220px) 
{
 .ftee
 {
    gap: 16px;
    flex-direction: column;
    align-items: center;
}
 }
 @media (min-width:1220px) and (max-width:1400px)
 {
    .container .cosfe {
       
        padding: 58px;
    margin: 0 -4px;
    }
   
 }
   @media(min-width:770px) and (max-width:2000px) 
{
    .container .bar
    {
        display: none;
    }
}
@media(min-width:767px) and (max-width:1210px)
{
    
    .container .wc .cz .wb .ivm {
        display: flex;
        width: 245px;
     }
     .container .wc .cz .wb .wimg {
        display: flex;
        position: relative;
        width: 499px;
     }
     
     .container .wc .cz .wb .wimg .imv {
        position: absolute;
        top: 16%;
        left: 210px;
    }
    .container .cosfe {
       
        padding: 60px;
        margin: 0 -84px;
        
    }  
    .container .co .ea
    {
        width: 837px;
        margin-left: -9px;
    }
    .co .bc {
      
        gap: -50px;
        padding: 187px 102px 13px;
    }
    
}

.ftee .fimg
 {
    padding-left: 130px;
 }
a
{
    text-decoration: none;
    cursor: pointer; 
}

ul
{
    list-style: none;
}
body
{
    font-family: Roboto, sans-serif;
}
.container
{
    margin: 0 auto;
    max-width: 1800px;


}
 @media(max-width:992px)
{
   
     .container .sc
     {
        padding-left: 21px;
     }
     .container .sc .si
     {
        text-align: center;
        width: 140px;
        height: 350px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
     }
     .container .sc .si-st
     {
        text-align: center;
     }
     .container .sc {
       
        column-gap: 33px;
        padding-left: 70px;

    }

}
@media(max-width:1112px)
{
    .container .sc 
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
       
    }  
    .container .sc .si
     {
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
     }
     .container .sc .si-st
     {
        text-align: center;
     }

}
@media(max-width:995px)
{
   
    .container .sc .si {
        width: 312px;
        margin-left: -79px;
    }
}
@media(max-width:850px)
{
    .container .sc
    {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        padding-left: 81px;
    }
    .container .sc .si
    {
           text-align: center;
           justify-content: center;
           display: flex;
           flex-direction: column;
           align-items: center;
        
    }
}
@media(max-width:1490px)
{
   .container .sc .si {
        width: 300px;
        height: 333px;
        padding: 50px;
        margin-top: 40px;
        border: 1px solid #eee;
        border-radius: 9px;
        text-align: center;
    }
}
@media (max-width:1410px)
{
   
    .container .sc
    {
        display: grid;
        column-gap: 10px;
    }

}
@media(min-width:1600px)
{
    .container{
        width: 1470px;
    }
    .container .container .sc .si
    {
        width: 400px;
    }
}


.section1
{
    background: #e6e6e694;
    height: 93vh;
    padding:  30px 50px;
    overflow: hidden;
}
.section1 .container
{
    width: 100%;
}
.nva
{
    position: relative;
}
.header .container
{
    width: 100%;
}
.section1 .header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding: 0 8px;
    height: 50px;
}

.header .navbar
{
    display: flex;
    align-items: center;
       
}
.header  .logo
{
    margin-right: 20px;
}
.header .navbar ul
{
    list-style-type: none;
   display: flex;
   gap: 10px;
    overflow: hidden;

}
li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 6px;
    text-decoration: none;
}
li a:hover
{
    color: var(--cnav);
}
.header   li {
    display: flex;
    align-items: center;
   
    justify-content: space-between;
  }
  .header  .links li i
{
    padding-top: 10px;
    color: #000;
    font-size: 13px;
}

  .header  .start a
  {
    color: white;
    border-radius: 50px;
    padding: 10px;
    border: 2px solid var(--cnav);
    background-color: var(--cnav);
    transition: .3s;
  }
  .header  .start a:hover
  {
    background-color: white;
    border-color: var(--cnav);
    color:var(--cnav);
  }
  .content .container
  {
    width: 100%;
  }
  .content 
  {
    position: relative; 
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 60px; 
    justify-content: space-between;
  
  }
 
  .content .cimg img
{
    width: 90%;
    aspect-ratio: 1.3;
}
.content .text h1
  {
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 8px;
    color: #444;
   
    
  }
  .content .text h1 strong
  {
    font-weight: 900;
    color: #000;
    text-transform: capitalize;
  }
  .content .text p
  {
    padding: 5px 0;
    color: rgb(71, 71, 71);
  }
  .content .text .email form
  {
    display: inline-flex;
    position: relative;
  }
  .content .text .email input
  {
    border-radius: 50px;
    border: 1px solid white;
    border-left:px solid var(--cnav) ;
    box-shadow:  var(--cnav) -4px 0px 0px;
    margin-top: 20px;
    padding: 22px 25px 24px 39px;
    width: 400px;
    height: 40px;
  }
  .content .text .email form .fa-envelope
{
    position: absolute;
    color: #888;
    width: 33px;
    height: 33px;
    top: 36px;
    left: 17px;
}
.content .text .email form .fa-arrow-right-long
{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 370px;
    top: 37px;
    color: var(--cnav);
}
.feedback
{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    padding-bottom: 125px;
    gap: 20px;

}
  .feedback .fimg
  {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
  }
  .feedback .fimg img
  {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 4px solid #fff;
    overflow-clip-margin: content-box;
  
  }
 .feedback .fimg img:not(:first-child) {
    margin-left: -15px;
}
.feedback  .tf
{
    display: block;
    padding-top: 15px;
 
}  
.feedback  .tf span
{
font-weight: bold;
font-size: 21px;
color: var(--background-color);
}


/* section 2 */

.section2
{
padding: 85px;
}
.section2 .container
{
    width: 100%;
}
 .sheader 
{
    display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.sheader .hc
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 35px;
}
 .sheader h2
{
    text-transform: capitalize;
    font-weight: 800;
    font-size: 30px;
    padding-bottom: 10px;
}
 .sheader p
{
    font-weight: 300;
    font-size: 20px;
}
 .sheader .vi
{
    font-size: 14px;
  color: #888;
 
  position: relative;
 margin-left: 10px;
 border-radius: 50px;
 border: 1px solid  #88888869;
 padding: 12px;
 transition: .3s;
}
 .sheader .vi a
{
    color: #888;
    transition: .3s;
}
.sheader .vi:hover
{
    color: var(--cnav);
    border-color: var(--cnav);
}
.sheader .vi a:hover
{
    color: var(--cnav);
}

.sc
{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 4px;
    justify-content: center;
}
.sc .si
{
    width: 389px;
    height: 333px;
    padding: 50px;
    margin-top: 40px;
    border: 1px solid #eee;
    border-radius: 9px;
    text-align: center;
}
.sc .si i
{
    margin-bottom: 35px;
    color: #fff;
    padding-bottom: 10px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top: 15px;
    
}
.sc .si-st
{
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 15px;
}
.sc .si h3
{
font-weight: bold;
font-size: 25px;
}
.sc .si-st p
{
    overflow: hidden;
    color: rgba(69, 67, 67, 0.803);;
    font-size: 15px;
}
.sc .si-st a
{
 color: #888;
 transition: .3s;
}
.sc .si-st a:hover
{
    color: var(--cnav);
}
/* section 3 */


.section3 .container
{
    width: 100%;
  
}
.co 
{
    height: 60vh;
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.co .ea
{
  
    width: 900px;
    margin-left: 45px;
    justify-content: center;
    display: flex;
    flex-direction: row;

    align-items: center;
    background-color: rgb(240, 241, 247);
    padding: 0 117px;
}
.co .secimg
{
    margin-left: 114px;
}
.co .secimg img
{
    margin-top: 5%;
}
@media (min-width:997px)
{
   .container .co .bc 
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1px;
    padding: 93px 5px 90px 0px;
}
.container .co .bc .mc {
    margin-top: -4px;
    margin-left: -31px;
}
.container .co .bc .mc .pm {
    margin-bottom: -30px;
    
}
.container .co .secimg {
    margin-left: -25px;
}
.container .ct1
{
    margin-right: 45px;
}
.container .co .ea
{
  
    width: 1098px;
}
.container .co .bc .ca .c1
{
    display: flex;
    gap: 13px;
    gap: 10px;
    margin-right: -87px;
 
}

.co .bc .ca .cr {
  
    font-size: 15px;
    padding-bottom: 10px;
   
}
}
 .co .bc 
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1px;
    
}
.co .bc .mc
{
    margin-top: -180px;
    margin-left: -5px;
}
.co .bc .mc .pm
{
   
   
    margin-bottom: -30px;
    font-size: 15px;
    font-weight: 600;
    color:rgba(255, 0, 0, 0.661);
   
}
.co .bc .mc h3
{
    font-size: 40px;
    line-height: 1.1;
    padding-top: 20px;
}
.co .bc .mc p
{
 
    color: rgb(100, 99, 99);
    padding-bottom: 51px;
    padding-top: 22px;
}

.co .bc .ca
{
    margin-top: -18px;
    display: flex;
    gap: 61px;
}
.co .bc .ca .c1
{
    display: flex;
    gap: 13px;
   
 
}
.co .bc .ca i
{
    display: inline-block;
    padding: 8px 7px;
    color: #fff;
    background: #32c36a;
    height: 30px;
    border-radius: 50%;
}
.co .bc .ca .cr
{
font-weight: bold;
font-size: 20px;
padding-bottom: 10px;
color: rgb(45, 44, 44);
}

/* section4 */

.section4
{
    padding: var(--padding);
    background: #0e1133;
    margin: 100px 0;
    overflow: hidden;
}
.section4 .container
{
    width: 100%;
}
.fte
{
    display: flex;
    margin-bottom: 13px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
}
.fte h2 {
    font-size: 50px;
    font-weight: bold;
  }
 .fte p {
    display: inline-block;
    font-weight:400;
    font-size: 22px;
    padding-top: 25px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
  }
  .ftee
  {
    display: flex;
    justify-content: space-around;
  }
  
  .ftbc
  {
    display: flex;
    gap: 25px;
    padding: 45px;
    padding-bottom: 8px;
    width: 443px;
    border: 1px solid #202234;
    border-radius: 5px;
    margin-bottom: 20px;
    
  }
  .ftbc .ftq
  {
    display: flex;
    flex-direction: row;
 
  }
  .ftbc .ftq i
  {
     color: rgba(233, 49, 46, 0.677);
     font-weight: 900;
  }
  .ftbc .ftq .ftt
  {
    padding-left: 20px;
    padding-top: -10px;
    display:flex;
    flex-direction: column;
    gap: 10px;
  }
  .ftbc .ftq .ftt h3
  {
    font-weight: bold;
    font-size: 26px;
    color: white;
  }
  .ftbc .ftq .ftt p
  {
    color: rgba(136, 136, 136, 0.786);
    margin-bottom: 20px;
  }
  .ftee .fimg
  {

   transform: translateX(5%);
 
  }

  /* section 5 */
  
  .section5
{
    margin: 150px 0;
}
.section5 .container
{
    width: 100%;
}
.con
{
    margin-bottom: 70px;
}
.con .sech
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -2px 190px;
}
.con .sech .hc 
{
    display: flex;
    margin-bottom: 100px;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
} 
.con .sech .hc h2
{
    font-size: 40px;
    font-weight: bold;
}
.con .sech .hc p
{
    color: rgb(106, 97, 97);
    font-weight: 300;
    font-size: 20px;
}
.ig
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 207px;
    margin-right: 250px;
    row-gap: 45px;
    column-gap: 30px;
    justify-items: center;
    justify-content: center;
}
.ig .stb
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    border-radius: 5px;
    padding: 51px 58px;
    box-shadow: 0 40px 77px rgb(0 0 0 / 15%);
}
.ig .stb .pn
{
    font-size: 40px;
    font-weight: 600;
}
.ig .stb .pt
{
    font-size:20px;
    font-weight: 500;
}
.wc 
{
   margin: 90px 190;  
}
.wc .cz
{
    margin: 0 40px;
    padding: 0 41px;
}
.wc .cz .wb
{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.wc .cz .wb .wimg 
{
    display: flex;
    position: relative;
    flex-direction: column;
}
.wc .cz .wb .wimg .imv
{
    position: absolute;
    top: 26%;
    left: 339px;

}
.wc .cz .wb .wimg .imv i
{
    font-weight: 900;
    color: white;
    font-size: 80px;
}
.wc .cz .wb .wimg .tmv
{
    padding-top: 30px;
    padding-left: 30px;
}
.wc .cz .wb .wimg .tmv h3
{
    font-size: 33px;
    font-weight: 800;
    padding-top: 10px;
    margin-bottom: 20px;
    color: var(--background-color);
}
.wc .cz .wb .wimg .tmv p
{
    font-size: 15px;
    line-height: 1.8;
    color: rgba(68, 68, 68, 0.785);
    padding-bottom: 30px;
}

.wc .cz .wb .wimg .tmv a
{
    color: var(--background-color);
    border: 1px solid #888;
    font-size: 16px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 29px;
    border-radius: 50px;
    transition: 0.3s;
}
.wc .cz .wb .wimg .tmv a:hover
{
    border-color: var(--cnav);
    color: var(--cnav);
}
.ivm 
{
    display: flex;
    flex-direction: column;
    padding-top: -2px;

}

.ivm .idv
{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding-top: 47px;
    
}
.ivm .idv i
{

    width: 51px;
    height: 51px;
    padding-top: 16px;
    border-radius: 67px;
    padding-left: 19px;
    font-size: 18px;
    color: rgb(106, 106, 106);
    border: 1px solid #888;
    transition: 0.3s;
}
.ivm .idv i:hover
{
    border-color: var(--cnav);
    color: var(--cnav);
}
/* section 6 */
.section6
{
    padding: var(--padding);
    background: #e7eaef;
  
    margin: 50px 0;
}
.section6 .container
{
    width: 100%;
}
.dc
{
    padding-top: 50px;
    padding-bottom: 20px;
}
.dc .dp
{
    font-size: 19px;
    font-weight: 700;
    color: #ff3e66;
    margin-bottom: 20px;
}
.dc .dh
{
    display: flex;
    justify-content: center;
    margin-bottom:70px ;
    flex-direction: column;
}
.dc .dh h2
{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.dc .dh p
{
font-size: 20px;
font-weight: 500;
color:#888;

}
.dapp
{
    display: flex;
    gap: 10px;
  
}
.dapp .app a
{
    background-color: #000;
    color: white;
    border: 2px solid black;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px 14px;
    border-radius: 13px;
    transition: .3s;
}
.dapp .app a:hover
{
  background-color: white;
  color: #000;
   
}
.dapp .app a i
{
    font-weight: 500;
    font-size: 35px;
}
.dapp .app a span
{
    font-weight: bold;
    font-size: 18px;
}
.dapp .app  .anv
{
    background-color: white;
}
.dapp .app  .anv:hover
{
  
    color: white;
}

.dapp .app  .anv p{
    color: #000;

}
.dapp .app  .anv i 
{
    color: #000;
}
/* section 7 */
.section7
{
    padding: var(--padding);
    margin-top: 20px;
    margin-bottom: 20px;
}
.section7 .container
{
    width: 100%;
}
.ts
{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}
.ts .tdsa
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}
.ts .tdsa h2
{
    font-size: 45px;
    margin-bottom: 20px;
}
.ts .tdsa p
{
    font-size: 20px;
    color: #888;
}
.but
{
    margin: 0 auto;
    border-radius: 50px;
    padding: 3px;
    border: 2px solid #e7eaef;
    width: fit-content;
}
.but .mo 
{
    padding: 9px 15px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    color: white;
    background-color: #f23d6d;
}
.but .mo:hover
{
background-color:black ;
color:white;
}
.but .ye
{
    padding: 8px 19px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    background-color: white;
    color: rgb(78, 78, 78);
    
} 
.conbo
{
    margin: 0 auto;
    padding: 0 45px;
}
.conbo .boc
{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
    justify-content: center;
}
.conbo .boc .pbo
{
    padding: 80px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid #eef0ee;
}
.conbo .boc .pbo .f
{
    font-size: 25px;
    font-weight: bold;
    color: var(--background-color);
    margin-top: 10px;
}
.conbo .boc .pbo .pi
{
    display: flex;
    margin-top: 20px;
    margin-bottom: 15px;
    gap: 10px;
}
.conbo .boc .pbo .pi i
{
    font-weight: 800;
    font-size: 20px;
}
.conbo .boc .pbo .pi .pr
{
    font-size: 40px;
    font-weight: bold;
}
.conbo .boc .pbo .pi .pr span
{
    font-size: 20px;
    color: #888;
}
.conbo .boc .pbo .sg
{
    margin-bottom: 30px;
    font-size:20px;
    font-weight: 400;
    color: #888;
    border-bottom: 2px solid #e1e4ea;
    padding-bottom: 20px;
}
.conbo .boc .pbo .pfe
{
    margin-bottom: 50px;
}
.conbo .boc .pbo .pfe .pcv
{
    display: flex;
    gap: 10px;

    margin-bottom: 10px;
    align-items: center;
}
.conbo .boc .pbo .pfe .pcv .pia
{
    padding: 6px;
    background-color: #eef4fe;
   border-radius: 50px;
}
.conbo .boc .pbo .pfe .pcv .pia i
{
    font-size: 12px;
   
}
.conbo .boc .pbo .pfe .pcv p
{
    font-weight: 600;
    color: var(--background-color);
    font-size: 14px;
}
.conbo .boc .pbo .chb
{
    color: black;
    border: 1px solid rgba(214, 214, 214, 0.566);
    border-radius: 50px;
    padding: 13px;
    font-weight: bold;
    transition: .3s;
}
.conbo .boc .pbo .chb:hover
{
    color: white;
    background-color: var(--cnav);
    border-color: var(--cnav);
}
.conbo .boc .pbo  .acti a
{
  background-color: var(--cnav);
  color: white;
  border-color: var(--cnav);
}
.conbo .boc .pbo  .acti a:hover
{
    color: #000;
    border-color:#bdbcbc8e;
    background-color: white;
}
.conbo .boc  .Active
{
    border-top: 4px solid var(--cnav);
    box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 9%);
}

/* section8 */

.section8
{
    margin: 155px;
}
.section8 .container
{
    width: 100%;
}
.cosfe
{
    background-image: url(../photo.jpg);
    align-items: center;
    padding: 140px;
    margin: 0 80px;
    grid-template-columns: 1fr 3fr;
    background-size: cover;
    display: grid;
    row-gap: 45px;
    column-gap: 55px;
    justify-items: center;
}
.cosfe  .cfc
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.cosfe.cfc .cfimg 
{
    border-radius: 50%;
}

.cosfe .cfc  img
 {
    border-radius: 95px;
   

 }
 .strd .stri
 {
    width: 32;
    height: 32;
    color:gold;
 }
 .cosfe .cfc p
 {
    color: #edf3fe;
    font-size: 17px;
    letter-spacing: 0.5px;
 }
 .rtf
{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.rtf .rrt
{
    font-size: 30px;
    color: #edf3fe;
}
.rpes .rtdv
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.rpes .rtdv .rpta
{
    font-size: 23px;
    color: #edf3fe;
    font-weight: 500;
}
.rpes .rtdv .art
{
font-size: 18px;
color: #edf3fe;
}
.rpes .tdv
{
    display: flex;
    gap: 19px;
    justify-content: flex-end;
}
.rpes .tdv i
{
    color: #e1e4ea;
    border-radius: 50%;
    padding: 13px;
    border: 1px solid #5492fb;
    width: 44px;
    height: 43px;
}
.rpes .tdv i:hover
{
    border-color: var(--background-color);
    color: #000;
}

/* section 9 */
.section9
{
    margin:100px 0 ;
}
.sptt
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.sptt .spett
{
    display: flex;
    margin-bottom:105px;
    justify-content: center;
    flex-direction: column;
}
.sptt .spett h2
{
    font-size: 40px;
    font-weight: bold;
    color: var(--background-color);
    margin-bottom: 20px;
}
.sptt .spett p
{
    font-size: 20px;
    color: #888;
}
.sponser
{
    display: flex;
    flex-direction: column;
}
.sponser .sptop
{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.spimg
{
    width: 140px;
    height: 150px;
    text-align: center;
    padding: 50px;
    box-shadow: 0 39px 67px rgb(0 0 0 / 18%);
    border-radius: 4px;
    background-color: #fff;
}
.spbott
{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
/* Section 10 */
.section10
{
    margin-top:100px;
    padding: 155px 0 103px;
    
    background-color:#eef1f6;
}
.foot
{
    margin: 0 auto;
    padding: 0 40px;
}
.foot .fcon
{
display: grid;
grid-template-columns: 2fr 1fr 1fr 2fr;
padding-bottom: 70px;
margin-bottom: 30px;

border-bottom: 2px solid #e1e5ec;
}
.foot .fcon .foco .fot
{
    margin-top: 30px;
    font-size: 20px;
    padding-top:10px ;
    color: #888;
}
.foot .fcon .foco .fread
{
    margin-top: 20px;
}

.foot .fcon .foco .fread a
{
    color: var(--background-color);
    font-size: 18px;

}
.foot .fcon .foco .fread :hover
{
    color: var(--cnav);
}
.foot .fcon .foco .fread i
{
    margin-top: 10px;
    padding-left: 5px;
}
.foot .fcon .foco .ficon
{
    margin-top: 30px;
    display: flex;
    gap: 20px;

}
.foot .fcon .foco .ficon i
{
   
    padding: 10px;
    background-color: white;
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    background-color: #fff;
    color: var(--background-color);
    margin-top:9px;
    margin-bottom: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition:.3s ;
}
.foot .fcon .foco .ficon i:hover
{
    color:black;
    background-color:#b1b3c3;
}
.ftext
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ftext .fheader
{
    font-size: 20px;
    font-weight: bold;
    color: var(--background-color);
}
.ftext .flinks
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ftext .flinks a
{
    font-size: 15px;
    line-height: 1.3;
    color: #505056;
    transition: .3s;
}
.ftext .flinks a:hover
{
    color: var(--cnav);
}
.ftext .con a
{
padding-bottom: 10px;
}
.ftext .con a i
{
    padding-right: 10px;
}
.foot .copy
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot .copy .fapp
{
    display: flex;
    gap: 30px;
}
.foot .copy .fapp a
{
    color: black;
    display: flex;
    background-color: #e1e1e100;
    padding: 15px;
    border: 2px solid #e1e4ea;
    font-weight: bold;
    border-radius: 12px;
    transition:.3s ;
}
.foot .copy .fapp a:hover
{
    background-color: black;
    color: white;
}

.foot .copy .fapp p
{
    padding-left: 10px;
}
.foot .copy .fapp .active
{
    margin-right: 5px;
    background-color: white;
    border-color: #e1e4ea;
}
.fcpsa
{
    margin-top: 10px;
}
.fcpsa .fptc
{
    font-size: 15px;
    font-weight: bold;
    color:#888;
}









































































































/* .header .navber .links 
{
    display: flex;
    position: relative;
    gap: 40px;
}

.header .navber .links ul
{
list-style: none;

padding-left: 15px;


}
.header .navber ul li
{
    display: inline-block;
    margin-left: 20px;
    padding: 10px;} */

/* .header .navber ul a
{
    display: block;
    text-decoration: none;
    padding: 8px;
    color: black;
}
.header .navber ul .bot
{
   
    margin-left: 1200px;
    border-radius: 50px;
    border: 1px solid rgb(0, 0, 0);
} */

